body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

.header-left {
    padding-left: 20px;  
}

.text-decoration {
    font-family:'Courier New', Courier, monospace;
    font-size: 32px;
    color:#ccc;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    font-weight: bold;
}

.logout-btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #333;
    color:aliceblue;
}

  

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"],
input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0062cc;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.button {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  font-size: 24px;
  padding: 16px 32px;
  bottom: 30%;
}

.button:hover {
  background-color: #3e8e41;
}

.room-container {
    position: absolute;
    padding-left: 80%;
    margin-right: 10px;
    border-radius: 30px;
}


.room-code {
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 24px;
    padding: 16px 32px;
    
}

.room-paragraf {
    color:#0062cc;
}

/* Popup styles */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    position: relative;
    width: 500px;
    max-width: 90%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-content {
    margin-top: 20px;
}

.popup-content input[type="text"] {
    color: #0062cc;
    margin-left:-10px;
    margin-bottom:10px;
    margin-right:20px;
    font-size: 10px;
    
}

.popup-content button[type="submit"] {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}

.popup-content button[type="submit"]:hover {
    background-color:#3e8e41;
}

.popup-show {
    opacity: 1;
    visibility: visible;
}


.popup-container {
    animation: fadeInDown 0.5s ease;
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .player-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.users-list-container {

    position: relative;
    display: inline-block;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.users-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-item:last-child {
    margin-bottom: 0;
}

.game-settings {
    font-weight: bold;
    position: absolute;
    display: inline-block;
    padding-left: 30%;
    margin-top:20px;
    margin-right: 10px;
}

.timer-settings {
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 24px;
    padding: 16px 32px;
    
}

.start-game-button {
    position: absolute;
    display: inline-block;
    font-weight: bold;;
    margin-top:50px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 16px 32px;
    cursor:pointer;
    text-decoration: none;
}

