body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #333;
    color: white;
}

/*///////////////////////////////////SIGN UP////////////////*/

.text-signup {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    color: #ccc;
    text-decoration: none;
    padding-right:200px;
}

.container-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container-signup {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  .form-group-signup {
    margin-bottom: 20px;
  }
  
  .form-group-signup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-group-signup input[type="text"],
  .form-group-signup input[type="email"],
  .form-group-signup input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .button-signup {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    
  }
  
  .button-signup:hover {
    background-color: #45a049;
  }

  
/*//////////////////////////////////////////////////////////////*/
.header-left {
    padding-left: 20px;
}

.text-decoration {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: #ccc;
    text-decoration: none;
}

.header-right {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info span {
    font-weight: bold;
}

.logout-btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}

.logout-btn:hover {
    background-color: #333;
    color: aliceblue;
}



.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container input[type="file"],
input[type="text"] {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #0062cc;
    margin-left: -10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 10px;
}

.main-container button[type="submit"] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.main-container button[type="submit"]:hover {
    background-color: #3e8e41;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}


.button {

    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    font-size: 24px;
    padding: 16px 32px;
    bottom: 30%;
}

.button:hover {
    background-color: #3e8e41;
}

/* Popup styles */

.popup-profile {
    position: fixed;
    top: 25%;
    right: 1%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.popup-profile-content {
    margin-top: 10px;
    padding: 5px 5px;
}

.popup-profile-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 500px;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-bottom: 20px;
}

.button-save-changes,
.button-delete {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.popup-profile-button-container {
    display: flex;
    justify-content: space-between;
}

.popup-profile label {
    font-weight: bold;
}

.button-save-changes {
    background-color: #4CAF50;
    color: white;
}

.button-save-changes:hover {
    background-color: #45a049;
}

.button-delete {
    background-color: #f44336;
    color: white;
}

.button-delete:hover {
    background-color: #da190b;
}


.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.popup-overlay label {
    font-weight: bold;
}

.popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 500px;
    max-width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-content {
    margin-top: 10px;
}

.popup-content input[type="text"] {
    color: #0062cc;
    margin-left: -10px;
    margin-bottom: 10px;
    margin-right: 20px;
    font-size: 10px;

}

.popup-content button[type="submit"] {
    align-items: center;
    margin-top: 0;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
}

.popup-content button[type="submit"]:hover {
    background-color: #3e8e41;
}

.popup-show {
    opacity: 1;
    visibility: visible;
}


.popup-container {
    animation: fadeInDown 0.5s ease;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*ROOM //////////////////////////////////////////////////////////////////////////////////////////////// */

.room-container {
    position: absolute;
    bottom: 0;
    left: 1%;
    margin-left: 10px;
    margin-bottom: 10px;
    transform: translateX(0%);

}

.room-container-not-creator {
    position: absolute;
    bottom: 0;
    left: 1%;
    margin-left: 10px;
    margin-bottom: 10px;
    transform: translateX(0%);

}

.room-code {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 24px;
    padding: 16px 32px;

}

.room-paragraf {
    font-weight: bold;
}


.game-settings {
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    margin-bottom: 10px;
    left: 40%;
    transform: translateX(-50%);
}

.timer-settings {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    padding: 16px 32px;
}

.rounds {
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    margin-bottom: 10px;
    left: 60%;
    transform: translateX(-50%);
}

.rounds-settings {
    position: absolute;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    max-width: 200px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 16px 32px;
}

.start-game-button {
    position: absolute;
    bottom: 2%;
    right: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    padding: 16px 32px;
    cursor: pointer;
    text-decoration: none;
}


/*//////////////////////////////////////////////////////////////////chat///////////////////////////////*/

.chat-container {
    font-family: 'Comic Sans MS', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1000px;
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(69, 202, 96, 0.5);
    top: 10%;
    left: 1%;
    margin: 15px;
}

.chat-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 16px 32px;
}
.chat-form input[type="submit"]:hover {
    background-color: #3e8e41;
    cursor:pointer;
} 
.xand0-accept:hover {
    background-color: #6d150e;
    cursor:pointer;
}
.chat-messages-container {
    margin-bottom: 10px;
    overflow-y: scroll;
    max-height: 350px;
    scroll-behavior: smooth;
}

.my-message {
    text-align: right;
}

.their-message {
    text-align: left;
}

#chat-messages li {
    list-style-type: none;
}


.message-text {
    font-size: large;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 300px;
}

.username-chat {
    font-weight: bold;
    margin-bottom: 10px;
}

.message-profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
}

/*///////////////////////TIC TAC TOE/////////////////////*/
.xand0-button {
    position:absole;
    margin-left:500px;
    background-color:#da190b;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 16px 32px;
}

.xand0-quit {
    position:absole;
    width: 100px;
    height: 100px;
    margin-left:700px;
    background-color:#da190b;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 16px 32px; 
}

.xand0-button:hover {
    background-color: #6d150e;
    cursor:pointer;
}

.xand0-accept { 
    background-color:#da190b;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    padding: 4px 12px;
}

#gameContainer {
    display:none;
}
#ticTacToeTable {
    position: absolute;
    right:1%;
    bottom:10%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  
  .cell {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #000;
    font-size: 24px;
    cursor: pointer;
  }
  
  .cell:hover {
    background-color: #eaeaea;
  }
  
/*user list*/


.player-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.users-list-container {
    position: absolute;
    display: inline-block;
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    top: 10%;
    right: 1%;
    margin-right: 5px;
    overflow-y: auto;

}

.users-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-item {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.user-item:last-child {
    margin-bottom: 0;
}


/*/////////////////////////////////////////////////.........................*/
@media screen and (max-width:1400px) {
    .chat-container{
        max-width: 700px;
    }
}

@media screen and (max-width:1300px) {
    .game-settings {
        position: absolute;
        bottom: 30%;
        left: 1%;
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }

    .rounds {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }

    .chat-container{
        width: 500px;
        height:300px;
    }
}

@media screen and (max-width: 950px) {

    .rounds {
        position: absolute;
        bottom: 30%;
        left: 21%;
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }

    .start-game-button {
        position: absolute;
        bottom: 1%;
        right: 1%;
        transform: none;
        margin-left: auto;
        margin-right: auto;
    }
}

/*//////////////////////////////////////////////////////////////////GAME///////////////////////////////*/

.TOMAPAN {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    justify-content: space-evenly;
    font-size: 2rem;
    font-family: fantasy;
    color: #3e8e41;
    padding: 15px;
}

.TOMAPAN b {
    pointer-events: none;
}

.item1 {
    grid-area: 1 / 1 / 2 / 2;
}

.item2 {
    grid-area: 2 / 1 / 3 / 2;
}

.item3 {
    grid-area: 1 / 2 / 2 / 3;
}

.item4 {
    grid-area: 2 / 2 /3 / 3
}

.item5 {
    grid-area: 1 / 3 / 2 / 4
}

.item6 {
    grid-area: 2 / 3 / 3 / 4;
}

.item7 {
    grid-area: 1 / 4 / 2 / 5;
}

.item8 {
    grid-area: 2 / 4 / 3 / 5;
}

.item9 {
    grid-area: 1 / 5 / 2 / 6;
}

.item10 {
    grid-area: 2 / 5 / 3 / 6;
}

.item11 {
    grid-area: 1 / 6 / 2 / 7;
}

.item12 {
    grid-area: 2/ 6 / 3 / 7;
}

.TOMAPAN input[type="text"] {
    font-size: medium;
    color: #333;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;

}

.TOMAPAN-TIMER {
    position: absolute;
    left: 1%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 24px;
    padding: 16px 32px;
    pointer-events: none;
}

.TOMAPAN-ROUNDS {

    position: absolute;
    left: 49%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 24px;
    padding: 16px 32px;
    pointer-events: none;
}

.TOMAPAN-SCORE {
    position: absolute;
    text-align: center;
    right: 1%;
    margin-right: 10px;
    transform: translateX(0%);
    pointer-events: none;
}

.TOMAPAN-SCORE p {
    font-weight: bold;
}

.TOMAPAN-SCORE h1 {
    text-align: center;
    font-weight: bold;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 24px;
    padding: 16px 32px;
}

@keyframes letter-animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

#random-letter {
    font-weight: bold;
    font-family: fantasy;
    position: absolute;
    text-align: center;
    left: 15%;
    top:12%;
    margin-left: 10px;
    color: #333;
    border: none;
    border-radius: 3px;
    font-size: 100px;
    padding: 16px 32px;
    pointer-events: none;
    animation: letter-animation 3s ease-in-out;
}

#response-table {
    border-collapse: separate;
    border-spacing: 40px 20px;
    position: absolute;
    left: 3%;
    top: 30%;
    font-size: 2.5rem;
}

.response-table-content {
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.response-table-first {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.status-text {
    max-width: 380px;
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    left: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.loader {
    position: absolute;
    text-align: center;
    left: 10%;
    border: 16px solid #333;
    border-top: 16px solid #3e8e41;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.table-score {
    font-weight: bold;
    color: #3e8e41;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}
  
#backToRoomButton {
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:#3e8e41; 
    color: white; 
    border: none;
    border-radius: 4px;
}

.congrats-end {
    font-size: 2em;
    color: #333;
}

.username-end {
    font-size: 1.5em;
    color: #444;
}
  
.imgProfile-endGame {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
}

.imgCup-endGame {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 10px auto;
}

/*//////////////////////////////////////CHAT IN THE GAME///////////////////////////*/
#chat-icon {
    position: fixed;
    right: 1%;
    bottom: 1%;
    width:50px;
    height:50px;
    font-size: 2em;
    cursor: pointer;
    z-index:9999;
  }

#chat-icon:hover {
    filter:brightness(50%);
}
  
#chatbox {
    font-family: 'Comic Sans MS', sans-serif;
    position: fixed;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    height:85%;
    right: 1%;
    bottom: 10%;
    width: 500px;
    height: 300px;
    border: 1px solid #000;
    background: #fff;
    padding: 10px;
    border-radius:8px;
    box-shadow: 0px 0px 10px rgba(69, 202, 96, 0.5);
    margin:5px;
}

.chat-messages-container-game {
    margin-bottom: 5px;
    overflow-y: auto;
    max-height: 220px;
}

.chat-form-game {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 95%;
    background: #fff;
    padding: 5px;
    border-radius:15px;
    display: flex;
    justify-content: space-between;
}

.chat-form-game input {
    font-family: 'Comic Sans MS', sans-serif;

}

.my-message-game {
    text-align: right;
}

.their-message-game {
    text-align: left;
}

.message-text-game {
    font-size: small;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 150px;
}

.message-profile-picture-game {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
    margin-left: 5px;
}

  

/*/////////////////////////////////////////////////////////////////RULES//////////////////////////////////////////////////////*/
#rules {
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color:#333;
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 24px;
    padding: 16px 32px;

}



#en_flag {
    position: absolute;
    left:1%;
    top:10%;
    width: 40px;
    height: 30px;
    object-fit: cover;
    margin: 10px auto;
    font-weight: bolder;
    cursor:pointer;

}

#ro_flag {
    object-fit: cover;
    position:absolute;
    right:1%;
    top:10%;
    width: 40px;
    height:30px;
    object-fit: cover;
    margin: 10px auto;
    cursor:pointer;

}

#ro_flag:hover, #en_flag:hover {
    width:150px;
    height:100px;
    
}